.nx-reverse {
    &__row {
        margin-bottom: 30px;
        align-items: center;
        &:nth-child(even) {
            flex-direction: row-reverse;
        }
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    @include media('sm-max') {
        &__item {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    
    @include media('xs') {
        &__item {
            margin-bottom: 20px;
        }
    }
}