.about-medication{
  padding-top: 90px;
  &>.flex-row{
    display: flex;
    align-items: center;
  }
  .header_block{
    margin-bottom: 0;
    text-align: left;
    h1,.h1{
      margin-bottom: 10px;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
  &_item{
    &:first-child{
      position: relative;
      .bg_img{
        transition: all 0.6s linear;
        transform: scale(1.025);
        img{
          animation: rotate-wave 1s ease .6s 1 alternate both;
          transition: all 0.6s linear;
          width: 100%;
          height: auto;
          object-fit: contain;
        }
        @media screen and (max-width: 1200px) {
          transform: none;
        }
        @media screen and (max-width: 767px) {
          width: 100%;
          max-height: 480px;
          img{
            max-height: inherit;
            height: inherit;
            width: auto;
            margin: 0 auto;
          }
        }
      }
      .medication_img{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        align-items: center;
        width: 100%;
        img{
          width: auto;
          height: 440px;
          object-fit: contain;
          @media screen and (max-width: 1200px) {
            height: 360px;
          }
          @media screen and (max-width: 1080px) {
            height: 300px;
            margin: 0 auto;
            transform: translateY(-40px);
          }
          @media screen and (max-width: 991px) {
            transform: none;
          }
          @media screen and (max-width: 480px) {
            height: 250px;
          }
          @media screen and (max-width: 440px) {
            height: 200px;
          }
        }
      }
    }
    &:last-child{
      padding-left: 90px;
      @media screen and (max-width: 1200px) {
        padding-left: 17.5px;
      }
    }
    .description{
      font-style: normal;
      font-weight: 300;
      font-size: 35px;
      line-height: 120%;
      max-width: 400px;
      width: 100%;
    }
    .shield-block{
      display: flex;
      align-items: center;
      margin-top: 30px;
      img{
        width: 100px;
        height: 100px;
        object-fit: contain;
        margin-right: 25px;
      }
      span{
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 100%;
        position: relative;
        &:before{
          content: "*";
          color: #ff0000;
          position: absolute;
          top: 0;
          right: -15px;
        }
      }
    }
    .btn-block{
      display: flex;
      align-items: center;
      margin-top: 40px;
      flex-wrap: wrap;
      &__item{
        &:first-child{
          margin-right: 30px;
        }
        margin-bottom: 20px;
        @media screen and (max-width: 480px) {
          width: 100%;
          margin-right: 0;
        }
      }
      @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px;
      }
    }
    .ingredients{
      margin-top: 40px;
      span{
        display: block;
        font-size: 16px;
        line-height: 19px;
        opacity: 0.4;
        margin-bottom: 5px;
      }
      &_description{
        display: flex;
        span{
          font-weight: 300;
          font-size: 21px;
          line-height: 120%;
          opacity: 0.8;
        }
        svg{
          width: 160px;
          height: 77px;
          margin-left: -20px;
          margin-top: -20px;
          @media screen and (max-width: 991px) {
            margin-top: 0;
          }
          @media screen and (max-width: 767px) {
            width: 137px;
            height: 65px;
          }
          @media screen and (max-width: 767px) {
            width: 125px;
            height: 65px;
          }
        }
        .span-br{
          margin: 0;
          padding: 0;
          display: inline;
          @media screen and (max-width: 991px) {
            display: block;
          }
        }
      }
      @media screen and (max-width: 991px) {
        &_description{
          span{
            font-size: 20px;
            line-height: 120%;
          }
        }
      }
      @media screen and (max-width: 767px) {
        margin-top: 20px;
        &_description{
          span{
            font-size: 18px;
            line-height: 19px;
          }
        }
      }
    }
  }
  @include media('sm-max'){
    padding-top: 100px;
    &>.flex-row{
      align-items: center;
    }
    &_item{
      .header_block{
        @media screen and (max-width: 767px) {
          h1, .h1 {
            margin-bottom: 0;
          }
          margin-bottom: 5px;
        }
      }
      .description{
        font-size: 25px;
        line-height: 120%;
      }
      .shield-block{
        span{
          font-size: 23px;
          line-height: 23px;
        }
        img{
          width: 50px;
          height: 60px;
        }
      }
    }
  }
  @include media('xs'){
    padding-top: 65px;
    &_item{
      &:first-child{
        margin-bottom: 60px;
      }
      .description{
        font-size: 20px;
        line-height: 120%;
      }
      .shield-block{
        img{
          margin-right: 20px;
        }
        span{
          font-size: 20px;
          line-height: 20px;
        }
      }
    }
  }
  @media screen and (max-width: 480px) {
    &_item{
      &:first-child{
        margin-bottom: 30px;
      }
    }
  }
  // стили анимации
  [data-aos=slide-left],[data-aos=slide-right]{
    opacity: 0;
    transition: all 1s ease 0s;
  }
  [data-aos^=slide][data-aos^=slide].aos-animate{
    opacity: 1;
    transition: all 1s ease 0s;
  }
}

@keyframes rotate-wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 767px) {
  @keyframes rotate-wave {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }
}