.advantage{
  &_block{

  }
  &_item{
    &:first-child{
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: $c-light-gray;
      box-shadow: 0px 100px 80px rgba(33, 73, 93, 0.05), 0px 41.7776px 33.4221px rgba(33, 73, 93, 0.0359427), 0px 22.3363px 17.869px rgba(33, 73, 93, 0.0298054), 0px 12.5216px 10.0172px rgba(33, 73, 93, 0.025), 0px 6.6501px 5.32008px rgba(33, 73, 93, 0.0201946), 0px 2.76726px 2.21381px rgba(33, 73, 93, 0.0140573);
      border-radius: 100px;
      z-index: -1;
      padding: 32px 60px 38px 60px;
      .advantage_item__elem{
        display: flex;
        align-items: center;
        svg{
          max-width: 80px;
          height: auto;
          width: 100%;
          max-height: 80px;
          margin-right: 20px;
        }
        span{
          font-size: 18px;
          line-height: 20px;
        }
      }
      @media screen and (max-width: 991px) {
        align-items: flex-start;
        padding: 25px 40px 30px 40px;
        .advantage_item__elem{
          flex-direction: column;
          svg{
            margin-right: 0;
            margin-bottom: 15px;
          }
          span{
            text-align: center;
            font-size: 16px;
            line-height: 17px;
          }
        }
      }
      @media screen and (max-width: 767px) {
        padding: 30px 40px 40px 40px;
        flex-direction: column;
        align-items: center;
        border-radius: 60px;
        .advantage_item__elem{
          margin-bottom: 25px;
          span{
            font-size: 14px;
            line-height: 17px;
          }
        }
      }
    }
    &:last-child{
      max-width: 900px;
      margin: 20px auto 0;
      text-align: left;
      .text{
        display: inline-block;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        opacity: 0.4;
        margin: 0;
        text-shadow: 0px 100px 80px rgba(33, 73, 93, 0.03), 0px 41.7776px 33.4221px rgba(33, 73, 93, 0.0215656), 0px 22.3363px 17.869px rgba(33, 73, 93, 0.0178832), 0px 12.5216px 10.0172px rgba(33, 73, 93, 0.015), 0px 6.6501px 5.32008px rgba(33, 73, 93, 0.0121168), 0px 2.76726px 2.21381px rgba(33, 73, 93, 0.00843437);

        span {
          white-space: nowrap;
        }
      }
      .grad_line{
        display: inline-block;
        width: 30px;
        height: 29px;
        border-radius: 30px;
        border: 3px solid rgba($c-gasit-blue, .4);
        transition: all $tr-time $tr-type;
        span{
          display: block;
          height: 17px;
          background: linear-gradient(90deg, #FF8D23 0%, #C4AB63 38.54%, #6CC2C2 62.5%, #00BCFF 100%);
          border-radius: 30px;
          margin: 3px;
        }
        &.animation-active{
          width: 216px;
          transition: all $tr-time $tr-type;
        }
        @media screen and (max-width: 991px) {
          width: 20px;
          height: 20px;
          span{
            height: 10px;
            margin: 2px 3px;
          }
        }
        @media screen and (max-width: 767px) {
          width: 216px;
        }
      }
      &.aos-animate{
        .grad_line{
          animation: grad-width 1s ease 1s 1 alternate both;
        }
      }
      @media screen and (max-width: 991px) {
        max-width: 660px;
        .text{
          font-size: 27.1807px;
          line-height: 33px;
        }
      }
      @media screen and (max-width: 767px) {
        .text{
          &:last-child{
            display: block;
          }
        }
      }
    }
  }
  [data-aos=slide-up]{
    opacity: 0;
    transition: all 1s ease 0s;
  }
  [data-aos^=slide][data-aos^=slide].aos-animate{
    opacity: 1;
    transition: all 1s ease 0s;
  }
}

@keyframes grad-width {
  0% {
    width: 30px;
  }

  100% {
    width: 216px;
  }
}
@media screen and (max-width: 991px) {
  @keyframes grad-width {
    0% {
      width: 20px;
    }

    100% {
      width: 216px;
    }
  }
}