@use "sass:list";

*, *:after, *:before{
    padding: 0;
    margin: 0;
    outline: none !important;
    box-sizing: border-box;
}
:focus{
    outline: none !important;
}

html,
body {
    position: relative;
    height: 100%;
    max-width: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body{
    font: map-get($font, weight) list.slash(map-get($font, size), map-get($font, line-height)) map-get($font, family);
    color: map-get($text, color-main);
    min-width: map-get($container, min-width);
    background: map-get($bg, body);
    .regular-big{
        font-size: $fz-med;
        font-weight: 400;
        @include media('sm-max'){
            font-size: $fz-xmain;
        }
    }
}

ul,ol{
    list-style: inside;
}

ul{
    list-style: none;
    li{
        position: relative;
        padding-left: 15px;
        &:before{
            content: "";
            width: 7.5px;
            height: 7.5px;
            background: $c-gasit-blue;
            position: absolute;
            top: 7.5px;
            left: 0;
            border-radius: 50%;
        }
    }
}

ol{
    list-style-type: decimal;
}



.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    max-width: 100%;
    background: map-get($bg, wrapper);
    .scroll + & {
        padding-top: 80px;
    }
    &_flex {
        .wrapper__content {
            display: flex;
            align-items: center;
        }
    }
    &__content{
        flex: 1 0 auto;
        //overflow: hidden;
        min-width: 0;
        padding-top: map_get($header, height);
        position: relative;
    }
    @include media('sm-min', 'sm-max'){
        &__content{
            padding-top: map_get($header, height-sm);
        }
    }
    @include media('xs'){
        &__content{
            padding-top: map_get($header, height-xs);
        }
    }
}

.bx-panel-box + .header {
    position: relative;
    .mnav {
        @include media("xs") {
            top: 115px;
        }
    }
    &.scroll{
        top: 39px;
    }
}

.container{
    position: relative;
    background: map-get($bg, container);
    max-width: map-get($container, max-width);
    width: map-get($container, width);
    margin: 0 auto;
    padding-right: $container-gutter;
    padding-left: $container-gutter;
    z-index: 1;
    
    @include media('sm-min', 'sm-max'){
        padding-right: $container-gutter-sm;
        padding-left: $container-gutter-sm;
    }
    @include media('xs'){
        padding-right: $container-gutter-xs;
        padding-left: $container-gutter-xs;
    }
}

.content-narrow{
    max-width: map-get($container, narrow);
}
.content-narrow-med{
    max-width: map-get($container, narrow-med);
}

@include selection(map_get($selectoin, color), map_get($selectoin, bg));
@include media('md-min'){
    @include scrollbar(map_get($scrollbar, size), rgba(map_get($scrollbar, track-bg), .2), map_get($scrollbar, bg));
}

.wrap{
    padding-top: 75px;
    padding-bottom: 75px;
    @include media('sm-max'){
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @include media('xs'){
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
