.nx-cart-head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 75px 10px 10px;
    
    &__item {
        font-size: $fz-min;
        color: rgba($c-dark, .5);
        
        &_title {
            width: 45%;
        }
        
        &_price {
            min-width: 140px;
        }
        
        &_cnt {
            width: 95px;
        }
        
        &_total {
            width: 110px;
        }
    }
    
    @include media('sm-max') {
        display: none;
    }
}