.nx-cart-complects {
    box-shadow: 1px 0 0 0 $c-gasit-blue, 0 1px 0 0 $c-gasit-blue, 1px 1px 0 0 $c-gasit-blue, 1px 0 0 0 $c-gasit-blue inset, 0 1px 0 0 $c-gasit-blue inset;
    position: relative;
    
    .nx-cart-list__item {
        box-shadow: none;
    }
    
    .nx-cart-list__counter {
        text-align: center;
        color: $c-gasit-blue;
    }
    
    &.deleted {
        .nx-cart-list__deleted {
            visibility: visible;
            opacity: 1;
        }
    }
    
    &__remove {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 20px;
        right: 20px;
        fill: rgba($c-dark, .5);
        .icon {
            @extend %centered-absolute;
            width: 100%;
            height: 100%;
        }
        &:hover {
            fill: $c-dark;
        }
    }
}