.nx-order-bill {
    border: 2px solid $c-gasit-blue;
    padding: 30px 25px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    &__title {
        font-size: $fz-xlarge;
    }
}