/*
.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0; right: 0;
    bottom: 0; left: 0;
    z-index: 1050;
    outline: 0;
    -webkit-overflow-scrolling: touch;
    min-width: map_get($container, min-width);
    
    &__dialog{
        display: block;
        position: relative;
        max-width: map_get($modal, width);
        background-color: map_get($modal, bg);
        margin: 0 auto;
        border-radius: $brd-rad-box;
        padding: 40px;
    }
    
    &__actions {
        margin-top: 40px;
    }
    
    &__close{
        display: block;
        position: absolute;
        right: 20px; top: 15px;
        font-size: map_get($modal, close-size);
        width: map_get($modal, close-size);
        height: map_get($modal, close-size);
        line-height: 1;
        z-index: 100;
        opacity: 1;
        fill: map_get($button, close-color);
        .link-icon{
            width: 22px;
            height: 22px;
            margin: 0;
        }
        &:hover{
            fill: map_get($button, close-hover);
            opacity: 1;
        }
    }
    
    &__title{
        margin-bottom: 5px;
    }
    
    &__text{
        margin-bottom: 30px;
    }
    
    &.fade .modal__dialog {
        transform: translate(0, -10%);
        transition: transform $tr-time $tr-type;
    }
    &.show .modal__dialog {
        transform: translate(0, 0);
    }
    
    &_centered{
        text-align: center;
        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -.36em;
        }
        .modal__dialog{
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }
    }
    
    &_min {
        .modal__dialog {
            max-width: map_get($modal, width-min);
        }
    }
    &_big {
        .modal__dialog {
            max-width: map_get($modal, width-big);
        }
    }
    
    @include media('xs'){
        .modal__dialog {
            padding: 30px $container-gutter-xs;
        }
    }
}


.modal-backdrop {
    position: fixed;
    top: 0; right: 0;
    bottom: 0; left: 0;
    z-index: 1040;
    background-color: map_get($modal, bg-backdrop);
    &.fade {
        opacity: 0;
    }
    &.show {
        opacity: 1;
    }
}

.modal-open {
    overflow: hidden;
    .modal {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}
*/



/**************************\
  Basic Modal Styles
\**************************/


.modal {
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 500;
    }
    
    &__container {
        background-color: #fff;
        padding: 30px;
        max-width: 500px;
        max-height: 100vh;
        border-radius: 4px;
        overflow-y: auto;
        box-sizing: border-box;
        position: relative;
        z-index: 505;
    }
    
    &__title {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.25;
        box-sizing: border-box;
    }
    
    &__close {
        background: transparent;
        border: 0;
        display: block;
        position: absolute;
        right: 20px; top: 15px;
        font-size: map_get($modal, close-size);
        width: map_get($modal, close-size);
        height: map_get($modal, close-size);
        line-height: 1;
        z-index: 100;
        opacity: 1;
        fill: map_get($button, close-color);
        .link-icon{
            width: 22px;
            height: 22px;
            margin: 0;
        }
        &:hover{
            fill: map_get($button, close-hover);
            opacity: 1;
        }
    }
    
    &__btn {
        font-size: .875rem;
        background-color: #e6e6e6;
        color: rgba(0,0,0,.8);
        border-radius: .25rem;
        border-style: none;
        border-width: 0;
        cursor: pointer;
        -webkit-appearance: button;
        text-transform: none;
        overflow: visible;
        line-height: 1.15;
        margin: 0;
        will-change: transform;
        backface-visibility: hidden;
        transform: translateZ(0);
        transition: all .25s ease-out;
    }
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes mmslideIn {
    from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {
    display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}
