.nx-video {
    height: auto;
    
    &__link {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        top: 0;
        left: 0;
        fill: white;
        &:hover {
            fill: rgba(white, .8);
        }
    }
    
    &__icon {
        width: 116px;
        height: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    iframe {
        width: 100%;
        height: 100%;
    }
    
    @include media('sm-max') {
        &__icon {
            width: 63px;
            height: 54px;
        }
    }
    @include media('xs') {
        &__icon {
            width: 35px;
            height: 30px;
        }
    }
}