$section: (
    offset: 80px,
    offset-sm: 60px,
    offset-xs: 40px,
    inner-offset-top: 30px,
    inner-offset-bottom: 40px,
    inner-offset-top-xs: 20px,
    inner-offset-bottom-xs: 30px
);
.nx-section {
    position: relative;
    margin-top: map_get($section, offset);
    margin-bottom: map_get($section, offset);
    
    &__head {
        margin-bottom: 40px;
        .nx-section__title {
            display: inline-block;
            margin-right: 20px;
            margin-bottom: 0;
            
            &:last-child {
                margin-right: 0;
            }
        }
        
        .nx-section__text {
            margin-top: 10px;
        }
        
        .nx-section__title, .nx-section__link {
            vertical-align: baseline;
        }
        
        .nx-section__btn {
            float: right;
        }
    }
    
    &__title {
        margin-bottom: 20px;
    }
    
    &__date {
        margin-bottom: 20px;
    }
    
    &__element {
        margin-bottom: 30px;
        &-inner {
            margin-bottom: 30px;
            display: flex;
            width: 100%;
            align-items: flex-start;
            justify-content: space-between;
        }
    }
    
    &__item {
        margin-bottom: 40px;
    }
    
    &__block {
        margin-bottom: 50px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    &__box {
        margin-bottom: 60px;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    &#{&}_bg {
        padding-top: map_get($section, inner-offset-top);
        padding-bottom: map_get($section, inner-offset-bottom);
        margin: 0;
        width: auto;
        &.nx-section_inner {
            padding-left: 65px;
            padding-right: 65px;
        }
        
        &.nx-section_c-dark {
            background-color: $c-gasit-blue;
            color: white;
        }
    }
    
    &#{&}_page {
        margin-top: 40px;
        margin-bottom: 120px;
    }
    
    @include media('sm-min', 'sm-max') {
        margin-top: map_get($section, offset-sm);
        margin-bottom: map_get($section, offset-sm);
        &__head {
            margin-bottom: 30px;
        }
        
        &#{&}_bg {
            padding-top: 40px;
            padding-bottom: 60px;
            margin-right: 0;
            margin-left: 0;
        }
    }
    @include media('sm-max') {
        &__box {
            margin-bottom: $section-offset-sm;
            &:last-child {
                margin-bottom: 0;
            }
        }
        
        &__col {
            margin-bottom: $section-offset-sm;
            &:last-child {
                margin-bottom: 0;
            }
        }
        
        &__col-small {
            margin-bottom: $section-offset-sm * 0.5;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    
    @include media('xs') {
        margin-top: map_get($section, offset-xs);
        margin-bottom: map_get($section, offset-xs);
        &__head {
            margin-bottom: 25px;
            .nx-section__title {
                margin-bottom: 5px;
            }
            
            .nx-section__btn {
                float: none;
            }
            
            .nx-section__text {
                margin-top: 5px;
            }
        }
        &__date {
            margin-bottom: 10px;
        }
        
        &__box {
            margin-bottom: map_get($section, offset-xs);
        }
        
        &__col {
            margin-bottom: $section-offset-xs;
        }
        
        &__col-small {
            margin-bottom: $section-offset-xs * 0.5;
        }
    
        &__element {
            &-inner {
                margin-bottom: 30px;
                flex-direction: column;
            }
        }
        
        &#{&}_bg {
            padding-top: map_get($section, inner-offset-top-xs);
            padding-bottom: map_get($section, inner-offset-bottom-xs);
            &.nx-section_inner {
                padding-left: 35px;
                padding-right: 35px;
            }
        }
    }
}
