.nx-articul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: $c-gasit-blue;
    font-size: $fz-little;
    margin-bottom: 15px;
    
    &_start {
        justify-content: flex-start;
        span {
            margin-right: 15px;
        }
    }
    
    span {
        border-bottom: none;
        color: $c-dark;
    }
}