.btn{
    position: relative;
    display: inline-block;
    background-color: map_get($button, main-bg);
    //border: 5px solid transparent;
    height: auto;
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    white-space: normal;
    padding: 18px 30px 20px 30px;
    border-radius: $brd-rad-main;
    cursor: pointer;
    transition: all $tr-time $tr-type;
    box-shadow: none;
    color: map_get($button, main-color);
    min-width: 170px;
    span{
        border-bottom: none;
    }
    &:hover{
        background-color: map_get($button, main-bg-hover);
        color: map_get($button, main-color);
    }
    //&:focus{
    //    border: 5px solid rgba(243, 67, 0, 0.25);
    //}
    
    &#{&}_d-block{
        display: block;
        width: 100%;
    }
    &#{&}_d-block-xs{
        @include media('xs'){
            display: block;
            width: 100%;
        }
    }
    &#{&}_lt{
        background-color: white;
        color: $c-dark;
        &:hover {
            background-color: $c-dark;
            color: white;
        }
    }
    &#{&}_brd{
        border: 2px solid map_get($button, main-bg);
        &:hover {
            border-color: map_get($button, main-bg-hover);
        }
    }
    &#{&}_br{
        border: 2px solid map_get($button, main-bg);
        &, &:hover{
            background-color: white;
            color: map_get($button, main-bg);
        }
        &:hover{
            border-color: map_get($button, bg-color);
        }
    }
    &#{&}_clr {
        padding: 0;
        &:hover {
            padding: 0;
        }
    }
    &[disabled], &.disabled{
        &, &:focus, &:hover, &:active{
            background: map_get($button, disabled-bg);
            color: map_get($button, disabled-color);
            box-shadow: none;
            cursor: not-allowed;
        }
    }
    &[readonly], &.readonly{
        &, &:focus, &:hover, &:active{
            background: map_get($button, disalbed-bg);
            color: map_get($button, disabled-color);
            box-shadow: none;
            cursor: not-allowed;
        }
    }
    [type="file"]{
        display: none;
    }
}